@import "setup";

$anti-social-yellow: #fcf4a3;
$health-green: #50c878;
$annoyed-red: #a8666e;
// ********************************************************************* //
//                                 layout                                //
// ********************************************************************* //

.wrapper {
    background: tomato;
    max-width: 1440px;
}

.stat {
    background: peachpuff;
    display: flex;
    justify-content: space-evenly;
}

.stat h2,
.stat p {
    background: steelblue;
}

.display {
    display: flex;
    justify-content: space-between;
}

.display div {
    width: calc( 100% / 3 - 2px );
    margin: 1px;
    height: 50vh;
    background: olive;
}

.cactus {
    width: 80%;
    margin: 0 auto;
}

.cactus-display svg {
    width: 200px;
    height: 200px;
}

.interactive-button {
    display: flex;
    justify-content: space-evenly;
}

.interactive-button div {
    width: calc( 50%/2 - 2px);
    margin: 1px;
    background: yellowgreen;
    text-align: center;
}

// ********************************************************************* //
//                                 stat                                  //
// ********************************************************************* //
.stat p {
    text-align: center;
}


// ********************************************************************* //
//                                 stat                                  //
// ********************************************************************* //
.overlay {
    display: none;
    max-width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;

}