@import "setup";
@import "svg";

// ********************************************************************* //
//                                 layout                                //
// ********************************************************************* //

.wrapper {
    background-image: linear-gradient(to right bottom, #ffb291, #ffbcb5, #ffcbd5, #ffdbec, #fbecfa, #fceefc, #feeffd, #fff1ff, #ffe4f4, #ffdad2, #ffd9a6, #ffe382);
    margin: 0 auto;
    max-width: 1440px;
}

.stat {
    margin: 0 auto;
    background: peachpuff;
    display: flex;
    justify-content: space-evenly;
}

.stat h2,
.stat p {
    background: steelblue;
}

.message-display {
    background: plum;
    width: 60%;
    margin: 0 auto;
}

svg {
    max-width: 100%;
    width: 100%;
}

.interaction-button-container {
    background: lightgreen;
    display: flex;
    justify-content: space-evenly;
}

.interaction-button-container div {
    width: calc( 50%/2 - 2px);
    margin: 1px;
    background: seagreen;
    text-align: center;
}

// ********************************************************************* //
//                                 stat                                  //
// ********************************************************************* //


// ********************************************************************* //
//                                 stat                                  //
// ********************************************************************* //