@import "setup";
@import "svg";

// ********************************************************************* //
//                     instruction & ending screen                       //
// ********************************************************************* //
.start-screen,
.result {
    background: rgba(0,0,0,0.5);
    width: 100%;
    min-height: 100vh;
    padding: 5% 0;
}

.on-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.off-screen {
    left: -120%;
    z-index: -9;
}

.start-screen-title-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.start-screen-title-bar h2 {
    width: 80%;
    flex-grow: 1;
}

.escape-button {
    width: 10%;
    text-align: right;
    padding: 3px;
}

.escape-button button {
    background: transparent;
    border: none;
    border-radius: 10px;

    &:hover,
    &:focus {
        box-shadow: 0 0 10px #3d3d3d;
    }
}

.overlay-background,
.cactus-report {
    background: #fbd7cb;
    max-width: 1440px;
    min-height: 80vh;
    margin: 0 auto;
    padding: 4%;    
    color: #3d3d3d;
}

// ********************************************************************* //
//                            main app layout                            //
// ********************************************************************* //

.wrapper {
    background-image: linear-gradient(to left top, #f9ecc8, #fdebcd, #ffead3, #ffeada, #feeae0);
    margin: 0 auto;
    max-width: 1440px;
}

header {
    min-height: 10vh;
}

header,
footer {
    width: 100%;
    padding: 0 5%;
    background: #4f564b;
}

footer {
    min-height: 5vh;
}

h1 {
    font-size: 3rem;
    color: #f9ecc8;

    span {
        font-size: 1.5rem;
        color: #fcf5e3;
    }
}

.stat {
    min-height: 10vh;
}

.stat ul {
    width: 60%;
    margin: 3px auto;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.stat li {
    color: #4f564b;
}

.stat h2,
.stat p {
    margin: 3px 0;
}

.display {
    min-height: 65vh;
}

.message-display {
    background:#4f564b;
    min-height: 5vh;
    width: 40%;
    margin: 5px auto;
    text-align: center;
    border-radius: 10px;
    color: #f9ecc8;
}

.cactus-display {
    width: 60%;
    min-height: 60vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cactus {
    width: 30%;
    margin: 30px auto;
    position: relative;
}

svg {
    max-width: 100%;
    width: 100%
}

.cactus-emotion {
    width: 50%;
    margin: 0 auto;
    transform: translateY(-170%);
}

.interaction-container {
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-buttons {
    width: 60%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.interaction-container button,
.reset-button button {
    background: #4f564b;
    padding: 3px;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    color: #f9ecc8;
    transition: box-shadow .3s;

    &:focus,
    &:hover {
        box-shadow: 0 0 20px #3d3d3d;
    }
}

.mobile-buttons {
    display: none;
}

// ********************************************************************* //
//                                result                                 //
// ********************************************************************* //
.result {
    display: none;
}

.text-wrap {
    width: 33.5%;
    margin: 30px auto;

    h2,
    h3 {
        text-align: center;
    }

    p {
        padding: 10px 30px;
        line-height: 1.5rem;
    }
}

.reset-button {
    text-align: center;
}
// ********************************************************************* //
//                             media query                               //
// ********************************************************************* //
@import "media-query";