article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }

h1,
h2,
h3 {
  font-family: 'Vast Shadow', cursive; }

h1 span,
li,
p {
  font-family: 'Montserrat', sans-serif; }

h1,
h2,
h3,
p,
ul {
  margin: 0; }

ul,
ol {
  padding: 0; }

li {
  list-style-type: none; }

label {
  visibility: hidden;
  position: absolute;
  left: -999;
  z-index: -9; }

img {
  max-width: 100%;
  width: 100%; }

.cactus svg {
  stroke-width: 0.45419571; }

.shrunken {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

.healthy-size {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.bloated {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

.cactus-flower {
  fill: #ff8080; }

.cactus-body {
  fill: #668000; }

.neglected {
  fill: #efcb68; }

.neutral {
  fill: #adbca5; }

.healthy {
  fill: #668000; }

.annoyed {
  fill: #e07a5f; }

.cactus-bloom {
  fill: #ffdd55; }

.cactus-stripes {
  fill: #245546; }

.cactus-shadow {
  fill: #e9ddaf;
  stroke-width: 0.26458332; }

.pot-color,
.pot-contour {
  stroke-width: 0.37023464; }

.pot-color {
  fill: #fec80d; }

.pot-contour {
  fill: #ffffff; }

.start-screen {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100vh;
  padding: 5% 0; }

.on-screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9; }

.off-screen {
  left: -120%;
  z-index: -9; }

.start-screen-title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.start-screen-title-bar h2 {
  width: 80%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.escape-button {
  width: 10%;
  text-align: right;
  padding: 3px; }

.escape-button button {
  background: transparent;
  border: none;
  border-radius: 10px; }
  .escape-button button:hover, .escape-button button:focus {
    -webkit-box-shadow: 0 0 10px #3d3d3d;
    box-shadow: 0 0 10px #3d3d3d; }

.overlay-background {
  background: #fbd7cb;
  max-width: 1440px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 4%;
  color: #3d3d3d; }

.wrapper {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#f9ecc8), color-stop(#fdebcd), color-stop(#ffead3), color-stop(#ffeada), to(#feeae0));
  background-image: -webkit-linear-gradient(right bottom, #f9ecc8, #fdebcd, #ffead3, #ffeada, #feeae0);
  background-image: -o-linear-gradient(right bottom, #f9ecc8, #fdebcd, #ffead3, #ffeada, #feeae0);
  background-image: linear-gradient(to left top, #f9ecc8, #fdebcd, #ffead3, #ffeada, #feeae0);
  margin: 0 auto;
  max-width: 1440px; }

header {
  min-height: 10vh; }

header,
footer {
  width: 100%;
  padding: 0 5%;
  background: #4f564b; }

footer {
  min-height: 5vh; }

h1 {
  font-size: 3rem;
  color: #f9ecc8; }
  h1 span {
    font-size: 1.5rem;
    color: #fcf5e3; }

.stat {
  min-height: 10vh; }

.stat ul {
  width: 60%;
  margin: 3px auto;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center; }

.stat li {
  color: #4f564b; }

.stat h2,
.stat p {
  margin: 3px 0; }

.display {
  min-height: 65vh; }

.message-display {
  background: #4f564b;
  min-height: 5vh;
  width: 40%;
  margin: 5px auto;
  text-align: center;
  border-radius: 10px;
  color: #f9ecc8; }

.cactus-display {
  width: 60%;
  min-height: 60vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.cactus {
  width: 30%;
  margin: 30px auto;
  position: relative; }

svg {
  max-width: 100%;
  width: 100%; }

.cactus-emotion {
  width: 50%;
  margin: 0 auto;
  -webkit-transform: translateY(-170%);
  -ms-transform: translateY(-170%);
  transform: translateY(-170%); }

.interaction-container {
  min-height: 10vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.desktop-buttons {
  width: 60%;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.interaction-container button,
.reset-button button {
  background: #4f564b;
  padding: 3px;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  color: #f9ecc8;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  -o-transition: box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s; }
  .interaction-container button:focus, .interaction-container button:hover,
  .reset-button button:focus,
  .reset-button button:hover {
    -webkit-box-shadow: 0 0 20px #3d3d3d;
    box-shadow: 0 0 20px #3d3d3d; }

.mobile-buttons {
  display: none; }

.result {
  display: none; }
  .result h2,
  .result h3 {
    text-align: center; }
  .result p {
    line-height: 1.5rem; }

.text-wrap {
  width: 20%;
  margin: 30px auto; }

.reset-button {
  text-align: center; }

@media (max-width: 1300px) {
  .cactus {
    width: 33%; } }

@media (max-width: 1200px) {
  .cactus {
    width: 35%; } }

@media (max-width: 1120px) {
  .stat ul,
  .desktop-buttons {
    width: 70%; }
  .message-display {
    width: 55%; }
  .cactus {
    width: 38%; } }

@media (max-width: 1000px) {
  .cactus {
    width: 40%; } }

@media (max-width: 890px) {
  .stat ul,
  .desktop-buttons {
    width: 75%; }
  .message-display {
    width: 60%; }
  .cactus {
    width: 45%; } }

@media (max-width: 810px) {
  .stat ul,
  .desktop-buttons {
    width: 85%; }
  .message-display {
    width: 70%; }
  .cactus {
    width: 50%; } }

@media (max-width: 700px) {
  .stat ul,
  .desktop-buttons {
    width: 95%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .message-display {
    width: 80%; }
  .cactus {
    width: 60%; } }

@media (max-width: 630px) {
  h1 {
    text-align: center; }
  .desktop-buttons {
    display: none; }
  .mobile-buttons {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .cactus {
    width: 70%; } }

@media (max-width: 570px) {
  .stat ul,
  .mobile-buttons {
    width: 100%;
    padding: 0 5%; }
  .message-display {
    width: 90%; }
  .cactus {
    width: 75%; } }

@media (max-width: 500px) {
  .cactus {
    width: 85%; } }

@media (max-width: 440px) {
  header {
    padding: 5% 0 0 0; }
  h1 {
    font-size: 2rem; }
  .stat ul,
  .mobile-buttons {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .cactus {
    width: 100%; } }
